body {
  font-family: Helvetica, sans-serif;
  color: #5c5c5e;
  font-weight: 400;
  font-size: 16px;
}

.button {
  cursor: pointer;
  font-weight: 700;
  padding: 21px 111px 21px 111px;
  color: white;
  background: linear-gradient(#bc10d8, #5000faed);
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.price {
  padding: 21px 106px;
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.header {
  border-bottom: 1px solid #cacad6;
  background-color: #f6f4f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__menu-list {
  display: flex;
  gap: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__basket {
  cursor: pointer;
}

.welcome {
  background-image: url("../images/Rectangle\ 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 1000px; */
}

.welcome__wrapper {
  padding: 230px 0px 454px 0px;
}

.welcome__buttons-wrapper {
  display: flex;
  margin-top: 50px;
}

.welcome__title {
  font-size: 96px;
  font-weight: 400;
}

.welcome__subtitle {
  font-size: 36px;
  margin-top: 15px;
}

.welcome__text {
  font-size: 13px;
  margin-top: 5px;
}

.welcome__rules {
  font-size: 13px;
  margin-top: 10px;
}

.product-features {
  margin-top: 100px;
}

.product-features__wrapper {
  display: flex;
  flex-direction: column;
}

.product-features__flex {
  display: flex;
  gap: 122px;
}

.product-features__tabs {
  display: flex;
}

.product-features__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.product-features__play-button-wrapper {
  justify-content: center;
}

.product-features__title {
  font-size: 16px;
}

.product-features__list {
  font-weight: normal 700;
  list-style: none;
  margin-right: 115px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-features__heading {
  font-size: 36px;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  max-width: 329px;
  text-transform: uppercase;
}

.product-features__image {
  border-right: 1px solid gray;
  padding-right: 20px;
}

.product-features__info-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-features__text {
  font-size: 16px;
  margin-bottom: 40px;
  max-width: 273px;
}

.product-features__video-wrapper {
  display: flex;
  position: relative;
}

.product-features__play-button {
  position: absolute;
  bottom: 34px;
  left: 31px;
}

.product-features__watch-text {
  position: absolute;
  bottom: 10px;
  color: aliceblue;
  left: 9px;
}

.games {
  margin-top: 100px;
}

.games__heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.games__box {
  display: flex;
}

.games__intro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

.games__intro-heading {
  font-size: 36px;
  max-width: 300px;
  min-width: 300px;

  text-transform: uppercase;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}

.games__intro-text {
  max-width: 300px;
}

.games__intro-button {
  cursor: pointer;
  font-weight: 700;
  min-width: 225px;
  max-width: 225px;
  height: 50px;
  background-color: white;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}

.games__list {
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
  list-style: none;
  display: flex;
}

.games__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-right: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.games__item:nth-child(3) {
  border: none;
}

.games__item-image {
  width: 260px;
  height: 260px;
}

.games__item-heading {
  max-width: 265px;
  font-size: 24px;
  color: #070707;
}

.games__item-heading__item-text {
  max-width: 259px;
}

.games__item-heading__item-button {
  cursor: pointer;
  max-width: 259px;
  border: none;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 40px;
}
