body {
  font-family: Helvetica, sans-serif;
  color: #5c5c5e;
  font-weight: 400;
  font-size: 16px;
}

.button {
  cursor: pointer;
  font-weight: 700;
  padding: 21px 111px 21px 111px;
  color: white;
  background: linear-gradient(#bc10d8, #5000faed);
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.price {
  padding: 21px 106px;
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.header {
  border-bottom: 1px solid #cacad6;
  background-color: #f6f4f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__menu-list {
  display: flex;
  gap: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__basket {
  cursor: pointer;
}

.welcome {
  background-image: url("../images/Rectangle\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 1000px; */
}

.welcome__wrapper {
  padding: 230px 0px 454px 0px;
}

.welcome__buttons-wrapper {
  display: flex;
  margin-top: 50px;
}

.welcome__title {
  font-size: 96px;
  font-weight: 400;
}

.welcome__subtitle {
  font-size: 36px;
  margin-top: 15px;
}

.welcome__text {
  font-size: 13px;
  margin-top: 5px;
}

.welcome__rules {
  font-size: 13px;
  margin-top: 10px;
}

.product-features {
  margin-top: 100px;
}

.product-features__wrapper {
  display: flex;
  flex-direction: column;
}

.product-features__flex {
  display: flex;
  gap: 122px;
}

.product-features__tabs {
  display: flex;
}

.product-features__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.product-features__play-button-wrapper {
  justify-content: center;
}

.product-features__title {
  font-size: 16px;
}

.product-features__list {
  font-weight: normal 700;
  list-style: none;
  margin-right: 115px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-features__box1,
.product-features__box2 {
  font-weight: normal 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-features__heading {
  font-size: 36px;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  max-width: 329px;
  text-transform: uppercase;
}

.product-features__image {
  border-right: 1px solid gray;
  padding-right: 20px;
}

.product-features__info-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-features__text {
  font-size: 16px;
  margin-bottom: 40px;
  max-width: 273px;
}

.product-features__video-wrapper {
  display: flex;
  position: relative;
}

.product-features__play-button {
  position: absolute;
  bottom: 34px;
  left: 31px;
}

.product-features__watch-text {
  position: absolute;
  bottom: 10px;
  color: aliceblue;
  left: 9px;
}

.games {
  margin-top: 100px;
}

.games__heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.games__box {
  display: flex;
}

.games__box1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.games__intro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

.games__intro-heading {
  font-size: 36px;
  max-width: 300px;
  text-transform: uppercase;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}

.games__intro-text {
  max-width: 300px;
}

.games__intro-button {
  cursor: pointer;
  font-weight: 700;
  min-width: 225px;
  max-width: 225px;
  height: 50px;
  background-color: white;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}

.games__list {
  list-style: none;
  display: flex;
}

.games__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
}

.games__items-inner {
  display: flex;
}

.games__text-item {
  justify-content: start;
  gap: 20px;
}

.games__item-heading {
  max-width: 265px;
  font-size: 24px;
  color: #070707;
}

.games__item-text {
  max-width: 259px;
}

.games__item-button {
  cursor: pointer;
  max-width: 259px;
  border: none;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  align-self: flex-start;
}

.buy__wrapper {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.buy__background {
  position: absolute;

  font-weight: 700;
  font-size: 400px;
  color: #bc10d8;
  opacity: 0.1;

  animation: oculus-bg-text 10s linear infinite forwards;
}

.buy__image {
  max-width: 350px;
  max-height: 340px;
}

.buy__buttons-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@keyframes oculus-bg-text {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.in-the-box {
  margin-top: 109px;
}

.in-the-box__wrapper {
  display: flex;
  flex-direction: column;
}

.in-the-box__title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.inner {
  display: flex;
  gap: 19px;
}

.in-the-box__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.in-the-box__general-box {
  display: flex;
  flex-direction: row;
}

.in-the-box__left-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 40px;
}

.in-the-box__subtitle {
  margin-bottom: 25px;
}

.in-the-box__right-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.in-the-box__text {
  margin-bottom: 198px;
  max-width: 280px;
  font-size: 36px;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.in-the-box2 {
  margin-top: 100px;
}

.in-the-box__wrapper2 {
  display: flex;
  flex-direction: column;
}

.in-the-box__title2 {
  margin-bottom: 50px;
}

.inner2 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  gap: 10px;
}

.in-the-box__text2 {
  margin-bottom: 198px;
  max-width: 280px;
  font-size: 36px;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.in-the-box__left-box2 {
  display: grid;
  gap: 10px;
}

.in-the-box__right-box2 {
  display: grid;
}
.in-the-box__subtitle2 {
  margin-bottom: 20px;
}

.metaverse-loading {
  margin-top: 100px;
}

.metaverse-loading__wrapper {
  position: relative;
}

.metaverse-loading__image {
  max-width: 100%;
  height: auto;
}

.metaverse-loading__text {
  font-size: 1.2vw;
  max-width: 90px;
  position: absolute;
  top: 13%;
  left: 45%;
  color: #f6f4f5;
  text-shadow: #bc10d8 0px 4px 4px;
  user-select: none;
}

.metaverse-loading__button {
  font-size: 1vw;
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  border: 1px;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: white;
}

.accessories {
  margin-top: 100px;
}

.accessories__wrapper {
  display: flex;
  flex-direction: column;
}

.accessories__title {
  margin-bottom: 30px;
}

.accessories__subtitle {
  margin-bottom: 30px;
  font-size: 36px;
  max-width: 626px;
  text-transform: uppercase;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}

.accessories__list {
  list-style: none;
  display: flex;
}

.accessories__item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
  gap: 10px;
  padding: 15px;
}

.accessories__upper-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 42px;
}

.accessories__image {
  max-width: 260px;
  max-height: 280px;
}

.accessories__text {
  max-width: 260px;
  font-size: 24px;
  color: #070707;
  height: 56px;
}

.accessories__subtext {
  max-width: 260px;
  height: 36px;
}

.accessories__lower-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accessories__price {
  font-weight: 700;
  color: #070707;
}

.accessories__button {
  width: 260px;
  cursor: pointer;
  border: 1px solid;
  border-image: linear-gradient(#bc10d8, #5000faed) 1;
  background-image: linear-gradient(#bc10d8, #5000faed);
  color: transparent;
  -webkit-background-clip: text;
}
.contacts {
  margin-top: 100px;
}

.contacts__title {
  font-size: 24px;
  margin-top: 9px;
  color: #070707;
  margin-bottom: 10px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts__form {
  flex-basis: 600px;
}

.contacts__inputs {
  margin-bottom: 10px;
  position: relative;
}

.contacts__email {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
}

.contacts__button {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #cacad6;
  border-radius: 50%;
  font-weight: 700;
  position: absolute;
  right: 0px;
  top: -35px;
}

.contacts__text {
  font-size: 13px;
}

.footer {
  margin-top: 100px;
  border-bottom: 1px solid #cacad6;
  border-top: 1px solid #cacad6;
  margin-bottom: 44px;
  padding: 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
  gap: 20px;
}
